<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BSGE Days</title>
  </head>
  <body>
    <h1>BSGE Days</h1>
    <h2>Welcome, <%= title %> <%= name %>!</h2>
    <p>This is the home page of the BSGE Days web application.</p>
    <nav>
      <ul>
        <li><a href="/pacecalc">Pace Calculator</a></li>
        <li><p>GE-related Laws</p></li>
      </ul>
    </nav>
  </body>
</html>
