<% title = 'BSGE Days' %>

<h1>BSGE Days</h1>
<p>This is the home page of the BSGE Days web application.</p>
<nav>
  <ul>
    <li><a href="/pacecalc">Pace Calculator</a></li>
    <li><p>GE-related Laws</p></li>
  </ul>
</nav>
