<% title='BSGE Days' %>

  <br>
  <p>Welcome to BSGE Days!
    This site is dedicated to students of the Bachelor of Science in Geodetic Engineering program, offering free,
    supplemental online reading materials to support your academic journey. Our content is designed to be direct and
    effective. You’ll mostly encounter the principle, the formula, and its derivation — so you can grasp the essentials
    fast.
  </p>