<div class="container-fluid text-center bg-secondary text-white">
  <br><br>
  <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
    <div class="col">
      <div class="p-3">
        <b>Navigation Links</b> <br>
        <a href="" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">About
          Us</a> <br>
        <a href="" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Courses /
          Topics</a> <br>
        <a href=""
          class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Resources</a> <br>
        <a href="" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Contact /
          Support</a>
      </div>
    </div>
    <!-- <div class="col">
      <div class="p-3">
        <b>Student-Focused Sections</b><br>
        <a href=""
          class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Mentorship
          Program</a><br>
        <a href=""
          class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">FAQs</a><br>
        <a href="" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Study
          Tips / Blogs</a>
      </div>
    </div> -->
    <div class="col">
      <div class="p-3">
        <b>Legal & Trust</b><br>
        <a href="" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Privacy
          Policy</a><br>
        <a href="" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Terms of
          Use</a><br>
        <a href=""
          class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Accessibility
          Statement</a>
      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <b>Community & Social</b><br>
        <a href="" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Social
          Media Icons</a><br>
        <a href=""
          class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Newsletter
          Signup</a><br>
        <a href="" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Student
          Testimonials</a>
      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <b>Technical and Attribution</b><br>
        <a href="" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Built
          with Node.js & Heroku</a><br>
        <a href="" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">GitHub
          Repo</a><br>
        <a href=""
          class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Credits</a>
      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <b>Location & Contact</b><br>
        <p>“Made by a student team in the Philippines”</p>
      </div>
    </div>
  </div>
  <br><br><br><br>
</div>