<nav class="navbar navbar-expand-lg bg-dark-subtle text-dark-emphasis">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">BSGE Days Notes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Learning Hub
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/cartography">Cartography</a></li>
            <li><a class="dropdown-item" href="/geodesy">Geodesy</a></li>
            <li><a class="dropdown-item" href="/gephlaws">GE-related Philippine Laws</a></li>
            <li><a class="dropdown-item" href="/photogrammetry">Photogrammetry </a></li>
            <li><a class="dropdown-item" href="/remsens">Remote Sensing</a></li>
            <li><a class="dropdown-item" href="/surveying">Surveying</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Software Tools
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.autodesk.com/products/autocad/overview">AutoCAD</a></li>
            <li><a class="dropdown-item" href="https://qgis.org/">QGIS</a></li>
            <li><a class="dropdown-item" href="/gnss">GNSS Processing</a></li>
            <li><a class="dropdown-item" href="/dronemapping">Drone Mapping</a></li>
            <li><a class="dropdown-item" href="/spreadsheet">Excel for Surveying</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Exam Prep
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/revmat">Review Materials</a></li>
            <li><a class="dropdown-item" href="/formulasheets">Formula Sheets</a></li>
            <li><a class="dropdown-item" href="/timemgt">Time Management Tips</a></li>
            <li><a class="dropdown-item" href="/topnotch">Topnotcher Interviews</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>