<% title='Bearings | BSGE Days' %>
    <h1>Bearings</h1>
    <img src="../../images/Bearings.png" class="img-fluid"
        alt="Image of standard-length tape, too-long tape, and too-short tape">
    <h2>Principle:</h2>
    <div class="p-3 bg-body-secondary">
        <p class="fs-5">
            The bearing is the acute horizontal angle between the reference meridian and a line.
        </p>
    </div>
    <h2>Explanation:</h2>
    <ul>
        <li>The angle is observed from either the north or south toward the east or west, to give a reading smaller than
            90°.</li>
        <li>
            May be in the form of "N44°30'23"E" or "S20°15'W".
        </li>
        <li>If the line from the origin is in Quadrant 1, then the bearing is north-east (NE).</li>
        <li>If the line from the origin is in Quadrant 2, then the bearing is north-west (NW). </li>
        <li>If the line from the origin is in Quadrant 3, then the bearing is south-west (SW). </li>
        <li>If the line from the origin is in Quadrant 4, then the bearing is north-east (SE).</li>
    </ul>
    <hr>
    <h2>Forward and Back Meridians</h2>
    <div class="container-fluid">
        <h2>Principle:</h2>
        <div class="p-3 bg-body-secondary">
            <p class="fs-5">
                the forward bearing being the direction of progress in a survey and the back bearing being the opposite
                direction

            </p>
        </div>
        <h2>Explanation:</h2>
        <ul>
            <li>The forward bearing is the bearing of a line from the starting point () to the end point, while the back
                bearing is the bearing of the same line from the end point back to the starting point.</li>
        </ul>
        <hr>
        <h2>Converting between Forward and Back Bearings:</h2>
        <div class="p-3 bg-body-secondary">
            <p class="fs-5">Just change "N" to "S" or reverse, and "E" to "W" or reverse.</p>
        </div>
    </div>

    <!-- References and Contributors start -->
    <br>
    <a data-bs-toggle="collapse" href="#RefAndContrib" role="button" aria-expanded="false"
        aria-controls="collapseExample" class="link-dark link-underline-opacity-10 link-underline-opacity-100-hover">
        <h2>References/Contributors:</h2>
    </a>
    <div class="collapse container-fluid" id="RefAndContrib">
        <h3>Reference:</h3>
        <ul>
            <li>
                azimuths_bearings.gif (406×223). (n.d.). PennState.
                https://www.e-education.psu.edu/natureofgeoinfo/sites/www.e-education.psu.edu.natureofgeoinfo/files/image/azimuths_bearings.gif
            </li>
            <li>Ghilani, C. D., & Wolf, P. R. (1994). Elementary Surveying: An Introduction to Geomatics.</li>
        </ul>
        <h3>Contributors:</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">SheriffSurveyor (Programmer)</li>
        </ul>
    </div>
    <!-- References and Contributors end -->