<% title='Correction Due to Tension | BSGE Days' %>
    <h1>Correction Due to Tension in Taping</h1>

    <h2>Formula:</h2>
    <div class="p-3 bg-body-secondary">
        <p class="fs-5">
            <math display="block">
                <mi>C</mi>
                <msub>
                    <mi>p</mi>
                </msub>
                <mo>=</mo>
                <mfrac>
                    <mrow>
                        <mo>(</mo>
                        <msub>
                            <mi>P</mi>
                            <mi>m</mi>
                        </msub>
                        <mo>−</mo>
                        <msub>
                            <mi>P</mi>
                            <mi>s</mi>
                        </msub>
                        <mo>)</mo>
                        <mi>L</mi>
                    </mrow>
                    <mrow>
                        <mi>A</mi>
                        <mi>E</mi>
                    </mrow>
                </mfrac>
            </math>
        </p>
    </div>
    <p class="fs-5">Where:</p>
    <ul>
        <li>C<sub>p</sub> = Correction due to tension/pull (m)</li>
        <li>P<sub>m</sub> = Pull during measurement (kg)</li>
        <li>P<sub>s</sub> = Standard pull of the tape (kg)</li>
        <li>L = Measured length (m)</li>
        <li>A = Cross-sectional area of the tape (cm²)</li>
        <li>E = Modulus of elasticity of the tape (kg/cm²)</li>
    </ul>

    <h2>Formula Derivation:</h2>
    <p>Our starting formula is the formula for modulus of elasticity <i>E</i>:</p>
    <div class="p-3 bg-body-secondary">
        <p class="fs-5">
            <math display="block">
                <mi>E</mi>
                <mo>=</mo>
                <mfrac>
                    <mrow>
                        <mi>Stress</mi>
                    </mrow>
                    <mrow>
                        <mi>Strain</mi>
                    </mrow>
                </mfrac>
                <mo>=</mo>
                <mfrac>
                    <mrow>
                        <mi>P/A</mi>
                    </mrow>
                    <mrow>
                        <mi>ΔL/L</mi>
                    </mrow>

                </mfrac>
                <mo>=</mo>
                <mfrac>
                    <mrow>
                        <mi>P</mi>
                        <mi>L</mi>
                    </mrow>
                    <mrow>
                        <mi>A</mi>
                        <mi>ΔL</mi>
                    </mrow>
                </mfrac>
                <mo>∴ </mo>
                <mi>ΔL =</mi>
                <mfrac>
                    <mrow>
                        <mi>P</mi>
                        <mi>L</mi>
                    </mrow>
                    <mrow>
                        <mi>A</mi>
                        <mi>E</mi>
                    </mrow>
            </math>
        </p>
    </div>
    <p>We can substitute <i>P </i>with <i>
            <math>
                <mi>(</mi>
                <msub>
                    <mi>P</mi>
                    <mi>m</mi>
                </msub>
                <mo>−</mo>
                <msub>
                    <mi>P</mi>
                    <mi>s</mi>
                </msub>
                <mi>)</mi>
            </math>
        </i> and
        <i>ΔL</i> with <i>C<sub>p</sub></i> to get the final formula:
    </p>
    <div class="p-3 bg-body-secondary">
        <p class="fs-5">
            <math display="block">
                <mi>C</mi>
                <msub>
                    <mi>p</mi>
                </msub>
                <mo>=</mo>
                <mfrac>
                    <mrow>
                        <mo>(</mo>
                        <msub>
                            <mi>P</mi>
                            <mi>m</mi>
                        </msub>
                        <mo>−</mo>
                        <msub>
                            <mi>P</mi>
                            <mi>s</mi>
                        </msub>
                        <mo>)</mo>
                        <mi>L</mi>
                    </mrow>
                    <mrow>
                        <mi>A</mi>
                        <mi>E</mi>
                    </mrow>
                </mfrac>
            </math>
        </p>
    </div>

    <!-- References and Contributors start -->
    <a data-bs-toggle="collapse" href="#RefAndContrib" role="button" aria-expanded="false"
        aria-controls="collapseExample" class="link-dark link-underline-opacity-10 link-underline-opacity-100-hover">
        <h2>References/Contributors:</h2>
    </a>
    <div class="collapse container-fluid" id="RefAndContrib">
        <h3>Contributors:</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">SheriffSurveyor (Programmer)</li>
        </ul>
    </div>
    <!-- References and Contributors end -->