<% title='Normal Tension | BSGE Days' %>

    <h1>About Normal Tension in Taping</h1>

    <h2>Formula:</h2>
    <div class="p-3 bg-body-secondary">
        <p class="fs-5">
            <math display="block">
                <msub>
                    <mi>P</mi>
                    <mi>n</mi>
                </msub>
                <mo>=</mo>
                <mfrac>
                    <mrow>
                        <mn>0.204</mn>
                        <mi>W</mi>
                        <msqrt>
                            <mrow>
                                <mi>A</mi>
                                <mi>E</mi>
                            </mrow>
                        </msqrt>
                    </mrow>
                    <mrow>
                        <msqrt>

                            <msub>
                                <mi>P</mi>
                                <mi>n</mi>
                            </msub>

                            <mo>−</mo>
                            <msub>
                                <mi>P</mi>
                                <mi>s</mi>
                            </msub>
                        </msqrt>
                    </mrow>
                </mfrac>
            </math>
        </p>
    </div>
    <p class="fs-5">Where:</p>
    <ul>
        <li>P<sub>n</sub> = Normal tension or pull (N)</li>
        <li>W = Total weight of the tape between supports (kg)</li>
        <li>A = Cross-sectional area of the tape (cm²)</li>
        <li>E = Modulus of elasticity of the tape material (kg/cm²)</li>
        <li>P<sub>s</sub> = Standard tension or pull of the tape (kg)</li>
    </ul>
    <h2>Explanation:</h2>
    <ul>
        <li>The formula calculates the normal tension by balancing the tape's weight and the applied pull to it.</li>

        <li>This formula helps surveyors understand how much tension is needed to maintain accuracy in measurements
            while considering the physical properties of the tape.
        </li>
    </ul>
    <h2>Formula Derivation:</h2>
    Our starting formulas are the formulas for: modulus of elasticity <i>E</i>:
    <div class="p-3 bg-body-secondary">
        <p class="fs-5">
            <math display="block">
                <msub>
                    <mi>C</mi>
                    <mi>p</mi>
                </msub>
                <mo>=</mo>
                <mfrac>
                    <mrow>
                        <mi>P</mi>
                        <mi>L</mi>
                    </mrow>
                    <mrow>
                        <mi>A</mi>
                        <mi>E</mi>
                    </mrow>
                </mfrac>
            </math>
        </p>
    </div>
    and correction due to sag:
    <div class="p-3 bg-body-secondary">
        <p class="fs-5">
            <math display="block">
                <msub>
                    <mi>C</mi>
                    <mi>s</mi>
                </msub>
                <mo>=</mo>
                <mfrac>
                    <mrow>
                        <msup>
                            <mi>W</mi>
                            <mn>2</mn>
                        </msup>
                        <mi>L</mi>
                    </mrow>
                    <mrow>
                        <mn>24</mn>
                        <msup>
                            <mi>P</mi>
                            <mn>2</mn>
                        </msup>
                    </mrow>
                </mfrac>
            </math>
        </p>
    </div>
    By setting <i>C<sub>p</sub></i> = <i>C<sub>s</sub></i>, setting P<sub>n</sub> = P<sub>m</sub> = P, and then
    rearranging, we can derive the normal tension formula above.

    <!-- References and Contributors start -->
    <a data-bs-toggle="collapse" href="#RefAndContrib" role="button" aria-expanded="false"
        aria-controls="collapseExample" class="link-dark link-underline-opacity-10 link-underline-opacity-100-hover">
        <h2>References/Contributors:</h2>
    </a>
    <div class="collapse container-fluid" id="RefAndContrib">
        <h3>Contributors:</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">SheriffSurveyor</li>
        </ul>
    </div>
    <!-- References and Contributors end -->