<% title='Correction Due to Temperature | BSGE Days' %>

    <h1>Correction Due to Temperature in Taping</h1>

    <h2>Formula:</h2>
    <div class="p-3 bg-body-secondary">
        <p class="fs-5">
            <math display="block">
                <msub>
                    <mi>C</mi>
                    <mi>t</mi>
                </msub>
                <mo>=</mo>
                <mi>&#945;</mi>
                <mo>(</mo>
                <msub>
                    <mi>T</mi>
                    <mi>m</mi>
                </msub>
                <mo>−</mo>
                <msub>
                    <mi>T</mi>
                    <mi>s</mi>
                </msub>
                <mo>)</mo>
                <mi>L</mi>
            </math>
        </p>
    </div>
    <p class="fs-5">Where:</p>
    <ul>
        <li>C<sub>t</sub> = Correction due to temperature (m)</li>
        <li>&alpha; = Coefficient of thermal expansion of the tape (1/&deg;C)</li>
        <li>T<sub>m</sub> = Temperature during measurement (&deg;C)</li>
        <li>T<sub>s</sub> = Standard temperature of the tape (&deg;C)</li>
        <li>L = Measured length (m)</li>
    </ul>
    <h2>Formula Derivation:</h2>

    <ul>
        <li>The length of a tape changes with temperature due to thermal expansion or contraction.</li>
        <li>The coefficient of thermal expansion <i>&alpha;</i> quantifies how much the tape length changes per
            degree
            Celsius.</li>
        <li>The difference between the measurement temperature <i>T<sub>m</sub></i> and the standard temperature
            <i>T<sub>s</sub></i> indicates how much the tape has expanded or contracted.
        </li>
        <li>Multiplying this temperature difference <i>T<sub>m</sub></i> - <i>T<sub>s</sub></i> by the
            coefficient of
            thermal expansion <i>&alpha;</i> and the measured length
            <i>L</i>
            gives the correction needed to adjust the measured length to what it would be at the standard temperature.
        </li>
    </ul>

    <!-- References and Contributors start -->
    <a data-bs-toggle="collapse" href="#RefAndContrib" role="button" aria-expanded="false"
        aria-controls="collapseExample" class="link-dark link-underline-opacity-10 link-underline-opacity-100-hover">
        <h2>References/Contributors:</h2>
    </a>
    <div class="collapse container-fluid" id="RefAndContrib">
        <h3>Contributors:</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">SheriffSurveyor (Programmer)</li>
        </ul>
    </div>
    <!-- References and Contributors end -->