<% title='General Rules in Taping Corrections | BSGE Days' %>

    <h1>General Principles on Corrections in Taping</h1>
    <img src="../../images/Tapes.png" class="img-fluid"
        alt="Image of standard-length tape, too-long tape, and too-short tape">
    <h2>Principle 1:</h2>
    <div class="p-3 bg-body-secondary">
        <p class="fs-5">
            When a line is <b>measured</b> with a tape that is <b>"too long"</b>, the corrections are applied to the
            observed length by <b>adding</b>. When a line is <b>measured</b> with a tape that is <b>"too short"</b>, the
            corrections are applied to the observed length by <b>subtracting</b>.
        </p>

    </div>
    <h3>Explanation:</h3>

    <ul>
        <li>A “too long” tape <b>overestimates</b> the actual distance, so we add a correction to compensate for the
            tape’s excess length.
        </li>
        <li>When a tape is "too long", each unit on the tape (e.g., each meter or inch) is <b>physically longer</b> than
            it should be. So when you measure a line using this tape, you’ll need fewer of these longer units to span
            the line.
        </li>
        <li>A “too short” tape <b>underestimates</b> each unit of measurement, causing the observed (true) length to be
            longer than the nominal length, so we subtract the correction to get the accurate value.</li>
        <li>
            When a tape is "too short", each unit (e.g., meter or inch) is physically shorter than it should be. So when
            you measure a line, you’ll need more of these shorter units to span the actual distance

        </li>
    </ul>
    <hr>
    <h2>Principle 2:</h2>
    <div class="p-3 bg-body-secondary">
        <p class="fs-5">
            When <b>laying out</b> a line with a tape that is <b>"too long"</b>, we <b>subtract</b> the correction to
            get the accurate value. When <b>laying out</b> a line with a tape that is <b>"too short"</b>, we <b>add</b>
            the correction.
        </p>
    </div>
    <h3>Explanation:</h3>

    <ul>
        <li>When laying out a line with a tape that is <b>"too long"</b>, the observed (true) length is <b>longer</b>
            than the nominal length, so we subtract the correction to get the accurate value.
        </li>
        <li>
            When laying out a line with a tape that is <b>"too short"</b>, the observed (true) length is <b>shorter</b>
            than the nominal length, so we <b>add</b> the correction.
        </li>
    </ul>
    <hr>
    <!-- References and Contributors start -->
    <a data-bs-toggle="collapse" href="#RefAndContrib" role="button" aria-expanded="false"
        aria-controls="collapseExample" class="link-dark link-underline-opacity-10 link-underline-opacity-100-hover">
        <h2>References/Contributors:</h2>
    </a>
    <div class="collapse container-fluid" id="RefAndContrib">
        <h3>Contributors:</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">SheriffSurveyor (Programmer)</li>
        </ul>
    </div>
    <!-- References and Contributors end -->