<% title='Meridians | BSGE Days' %>
    <!-- 0/10 -->
    <h1>About Meridians</h1>
    <h2>Principle/Definition:</h2>
    <div class="p-3 bg-body-secondary">
        <p class="fs-5">
            The meridian is a <strong>line</strong> that lies in a vertical plane passing through a fixed <strong>point
                of reference</strong> and through the <strong>observer's position</strong>.
        </p>
    </div>
    <h3>Explanation:</h3>
    <ul>
        <li>The Meridian is used to define the <strong>horizontal angle or direction</strong> of a line.</li>
    </ul>
    <hr>
    <h2>Types of Meridians:</h2><br>
    <div class="container-fluid">
        <h2>True Meridian</h2>
        <h2>Principle:</h2>
        <div class="p-3 bg-body-secondary">
            <p class="fs-5">The True Meridian, also called Geodetic Meridian, is a reference line which passes through
                the <b>mean geographic north and south poles</b>, and the <b>observer's coordinates</b>.
            </p>
        </div>
        <hr>
        <h2>Astronomic Meridian</h2>
        <h2>Principle:</h2>
        <div class="p-3 bg-body-secondary">
            <p class="fs-5">
                The Astronomic Meridian is a line which passes through the <b>instantaneous position</b> of the
                <strong>north and south poles</strong> and the <strong>observer's position</strong>.
            </p>
        </div>
        <hr>
        <h2>Magnetic Meridian</h2>
        <h2>Principle:</h2>
        <div class="p-3 bg-body-secondary">
            <p class="fs-5">The Magnetic Meridian is a fixed line of reference which lies <strong>parallel</strong> to
                the <strong>magnetic lines of force</strong> on the Earth.</p>
        </div>
        <hr>
        <h2>Grid Meridian</h2>
        <h2>Principle:</h2>
        <div class="p-3 bg-body-secondary">
            <p class="fs-5">A grid meridian is a vertical line on a map or coordinate system that runs <b>parallel to
                    the
                    central meridian</b> for that specific area.</p>
        </div>
        <hr>
        <h2>Assumed Meridian</h2>
        <h2>Principle</h2>
        <div class="p-3 bg-body-secondary">
            <p class="fs-5">An assumed meridian is established by merely assigning any <b>arbitrary direction</b>.</p>
        </div>
    </div>
    <!-- References and Contributors start -->
    <br>
    <a data-bs-toggle="collapse" href="#RefAndContrib" role="button" aria-expanded="false"
        aria-controls="collapseExample" class="link-dark link-underline-opacity-10 link-underline-opacity-100-hover">
        <h2>References/Contributors:</h2>
    </a>
    <div class="collapse container-fluid" id="RefAndContrib">
        <h3>Reference:</h3>
        <ul>
            <li>Ayer, J. Comparison between the azimuths of astronomical and geodetic
                coordinates in Ghana. Journal of the Ghana Institution of Engineering (JGhIE).
                https://doi.org/10.56049/JGHIE.V23I1.53</li>
            <li>Ghilani, C. D. (1994). Elementary Surveying: An Introduction to Geomatics.</li>
        </ul>
        <h3>Contributors:</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">SheriffSurveyor (Programmer)</li>
        </ul>
    </div>
    <!-- References and Contributors end -->