<% title='Meridians | BSGE Days' %>

    <h1>About Meridians</h1>
    <h2>Principle/Definition:</h2>
    <div class="p-3 bg-body-secondary">
        <p class="fs-5">
            The meridian is a <strong>line</strong> that lies in a vertical plane passing through a fixed <strong>point
                of reference</strong> and through the <strong>observer's position</strong>.
        </p>
    </div>
    <h3>Explanation:</h3>
    <ul>
        <li>The Meridian is used to define the <strong>horizontal angle or direction</strong> of a line.</li>
    </ul>
    <hr>
    <h2>Types of Meridians:</h2>
    <div class="container-fluid">
        <h2>True Meridian</h2>
        <h2>Principle:</h2>
        <div class="p-3 bg-body-secondary">
            <p class="fs-5">The True Meridian is the generally adapted reference line in surveying which passes through
                Earth's geographic north and south poles, and the observer's coordinates.</p>
        </div>
        <hr>
        <h2>Magnetic Meridian</h2>
        <h2>Principle:</h2>
        <div class="p-3 bg-body-secondary">
            <p class="fs-5">The Magnetic Meridian is a fixed line of reference which lies <strong>parallel</strong> to
                the <strong>magnetic lines of force</strong> on the Earth.</p>
        </div>
        <hr>
        <h2>Grid Meridian</h2>
        <h2>Principle:</h2>
        <div class="p-3 bg-body-secondary">
            <p class="fs-5"></p>
        </div>
        <hr>
        <h2>Assumed Meridian</h2>
        <h2>Principle</h2>
        <div class="p-3 bg-body-secondary">
            <p class="fs-5"></p>
        </div>
    </div>